<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
            <ion-icon src="assets/house.svg"></ion-icon>
            <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="message">
            <ion-icon src="assets/message.svg"></ion-icon>
            <ion-label>Message</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="notifications">
            <ion-icon name="notifications"></ion-icon>
            <ion-label>Notification</ion-label>
        </ion-tab-button>

    </ion-tab-bar>

</ion-tabs>